<head>
	<title>Create a new workout</title>
</head>
<body>
	<h2>Please create a new workout</h2>
	<form method="post">
		<div>
		<!--label = touch name to start typing-->
			<label for="name">Name</label>
			<input name="name" type="text"/>
		</div>
		<div>
			<label for="muscle">Muscle</label>
			<input name="muscle" type="text"/>
		</div>
		<div>
			<label for="sets">Sets</label>
			<input name="sets" type="text"/>
		</div>
		<div>
			<button type="submit">Submit workout</button>
		</div>
	</form>

</body>
</html>